services:
  api-gateway:
    build:
      context: ./apps/api-gateway
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
    environment:
      - PORT=3000
      - USER_SERVICE_HOST=user-service
      - USER_SERVICE_PORT=3001
      - PRODUCT_SERVICE_HOST=product-service
      - PRODUCT_SERVICE_PORT=3002
      - ORDER_SERVICE_HOST=order-service
      - ORDER_SERVICE_PORT=3003
      - NOTIFICATION_SERVICE_HOST=notification-service
      - NOTIFICATION_SERVICE_PORT=3004
    depends_on:
      - user-service
      - product-service
      - order-service
      - notification-service
    networks:
      - microservices-network

  user-service:
    build:
      context: ./apps/user-service
      dockerfile: Dockerfile
    # ports:
    #   - '3001:3001'
    environment:
      - PORT=3001
      - HOST=0.0.0.0
    networks:
      - microservices-network

  product-service:
    build:
      context: ./apps/product-service
      dockerfile: Dockerfile
    # ports:
    #   - '3002:3002'
    environment:
      - PORT=3002
      - HOST=0.0.0.0
    networks:
      - microservices-network

  order-service:
    build:
      context: ./apps/order-service
      dockerfile: Dockerfile
    # ports:
    #   - '3003:3003'
    environment:
      - PORT=3003
      - HOST=0.0.0.0
    networks:
      - microservices-network

  notification-service:
    build:
      context: ./apps/notification-service
      dockerfile: Dockerfile
    # ports:
    #   - '3004:3004'
    environment:
      - PORT=3004
      - HOST=0.0.0.0
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge
