apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: microservices
  labels:
    app: notification-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: notification-service:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3004
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: NOTIFICATION_SERVICE_PORT
            - name: HOST
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: HOST
            - name: RABBITMQ_URL
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: RABBITMQ_URL
          resources:
            requests:
              memory: '128Mi'
              cpu: '100m'
            limits:
              memory: '256Mi'
              cpu: '200m'
