{{- if .Values.notificationService.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: {{ .Values.namespace }}
  labels:
    app: notification-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
        - name: notification-service
          image: {{ .Values.notificationService.image.repository }}:{{ .Values.notificationService.image.tag }}
          imagePullPolicy: {{ .Values.notificationService.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.notificationService.containerPort }}
          env:
            - name: PORT
              value: {{ .Values.notificationService.env.PORT | quote }}
            - name: HOST
              value: {{ .Values.notificationService.env.HOST }}
            - name: RABBITMQ_URL
              value: {{ .Values.notificationService.env.RABBITMQ_URL }}
          resources:
            requests:
              memory: '128Mi'
              cpu: '100m'
            limits:
              memory: '256Mi'
              cpu: '200m'
{{- end}}
