{{- if .Values.notificationService.service.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: {{ .Values.namespace }}
  labels:
    app: notification-service
spec:
  type: ClusterIP
  selector:
    app: notification-service
  ports:
    - protocol: TCP
      port: {{ .Values.notificationService.service.port | quote }}
      targetPort: {{ .Values.notificationService.service.targetPort | quote }}
{{- end }}