{{- if .Values.userService.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: {{ .Values.namespace }}
  labels:
    app: user-service
spec:
  type: ClusterIP # Internal service
  selector:
    app: user-service
  ports:
    - protocol: TCP
      port: 3001
      targetPort: 3001
{{- end }}